In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("pokemon.csv")

In [5]:
def attack_power(attack, Sp_atk):
    if attack + Sp_atk > 180:
        return "Strong"
    else:
        return "Weak"

df["Attacker"] = np.vectorize(attack_power)(df["Attack"], df["Sp. Atk"])  # Create a new column named "Attacker" and apply the attack_power function to each row of the dataframe.

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Strong
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Weak
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Weak

In [6]:
df["Attacker"] = df.apply(lambda row: attack_power(row["Attack"], row["Sp. Atk"]), axis=1)  # Create a new column named "Attacker" and apply the attack_power function to each row of the dataframe.
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Strong
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Weak
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Weak

In [10]:
df.sort_values("Total", ascending=False, inplace=True)  # Sort the dataframe by the "Total" column in descending order.
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
503,504,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True,Strong
662,663,Kyurem White,Dragon,Ice,700,125,120,90,170,100,95,5,True,Strong
661,662,Kyurem Black,Dragon,Ice,700,125,170,100,120,90,95,5,True,Strong
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,Strong
496,497,Giratina Origin,Ghost,Dragon,680,150,120,100,120,100,90,4,True,Strong

In [11]:
df.nlargest(5, "Total")  # Get the 5 largest values in the "Total" column.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
503,504,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True,Strong
662,663,Kyurem White,Dragon,Ice,700,125,120,90,170,100,95,5,True,Strong
661,662,Kyurem Black,Dragon,Ice,700,125,170,100,120,90,95,5,True,Strong
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,Strong
496,497,Giratina Origin,Ghost,Dragon,680,150,120,100,120,100,90,4,True,Strong

In [12]:
df.nsmallest(5, "Total")  # Get the 5 smallest values in the "Total" column.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
189,190,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False,Weak
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,Weak
402,403,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False,Weak
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,Weak
263,264,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False,Weak

In [13]:
df["Type 1"].value_counts()  # Get the count of each unique value in the "Type 1" column.

Water       105
Normal       94
Grass        67
Bug          65
Psychic      51
Fire         48
Electric     42
Rock         41
Ground       31
Dark         28
Poison       28
Dragon       26
Fighting     25
Ghost        24
Steel        23
Ice          23
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [15]:
df["HP"].between(50, 100)  # Get a boolean series indicating whether each value in the "HP" column is between 50 and 100.

503    False
662    False
661    False
148    False
496    False
       ...
263    False
12     False
402    False
296     True
189    False
Name: HP, Length: 742, dtype: bool

In [16]:
df[df["HP"].between(50, 100)] # Get the rows where the "HP" column is between 50 and 100.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
656,657,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True,Strong
657,658,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True,Strong
491,492,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True,Strong
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Strong
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,173,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,Weak
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,Weak
264,265,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Weak
266,267,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Weak
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,Weak

In [17]:
df[df["HP"].between(50, 100)]["Type 1"].value_counts()  # Get the count of each unique value in the "Type 1" column for the rows where the "HP" column is between 50 and 100.

Water       77
Normal      65
Grass       52
Bug         46
Fire        35
Psychic     34
Rock        32
Electric    32
Ground      22
Dark        21
Poison      20
Steel       20
Ice         18
Fighting    17
Dragon      16
Fairy       13
Ghost       12
Flying       3
Name: Type 1, dtype: int64

In [19]:
df[df["HP"].between(50, 100, inclusive="both")]  # Get the rows where the "HP" column is between 50 and 100, including 50 and 100.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
656,657,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True,Strong
657,658,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True,Strong
491,492,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True,Strong
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Strong
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,173,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,Weak
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,Weak
264,265,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Weak
266,267,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Weak
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,Weak

In [20]:
df.sample(6)  # Get a random sample of 6 rows from the dataframe.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
360,361,Glalie,Ice,NaN,480,80,80,80,80,80,80,3,False,Weak
343,344,Lileep,Rock,Grass,355,66,41,77,61,87,23,3,False,Weak
136,137,Omanyte,Rock,Water,355,35,40,100,90,55,35,1,False,Weak
95,96,Drowzee,Psychic,NaN,328,60,48,45,43,90,42,1,False,Weak
30,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False,Weak
658,659,Landorus ncarnate,Ground,Flying,600,89,125,90,115,80,101,5,True,Strong

In [21]:
df.sample(frac=0.1)  # Get a random sample of 10% of the rows from the dataframe.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
223,224,Delibird,Ice,Flying,330,45,55,45,65,45,75,2,False,Weak
45,46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False,Weak
628,629,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False,Weak
102,103,Exeggutor,Grass,Psychic,520,95,95,85,125,65,55,1,False,Strong
67,68,Machamp,Fighting,NaN,505,90,130,80,65,85,55,1,False,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,62,Poliwrath,Water,Fighting,510,90,95,95,70,90,70,1,False,Weak
493,494,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True,Strong
213,214,Sneasel,Dark,Ice,430,55,95,55,35,75,115,2,False,Weak
259,260,Poochyena,Dark,NaN,220,35,55,35,30,30,35,3,False,Weak
25,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False,Weak

In [36]:
df.sample(frac=0.1, random_state=42)  # Get a random sample of 10% of the rows from the dataframe, using a seed of 42. Random state is used to ensure that the same random sample is returned each time.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
431,432,Lopunny,Normal,NaN,480,65,76,84,54,96,105,4,False,Weak
675,676,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False,Weak
329,330,Cacnea,Grass,NaN,335,50,85,40,85,40,35,3,False,Weak
630,631,Mienfoo,Fighting,NaN,350,45,85,50,55,50,65,5,False,Weak
13,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,66,Machop,Fighting,NaN,305,70,80,50,35,35,35,1,False,Weak
461,462,Mantyke,Water,Flying,345,45,20,50,60,120,50,4,False,Weak
691,692,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False,Strong
222,223,Octillery,Water,NaN,480,75,105,75,105,75,45,2,False,Strong
605,606,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False,Weak