In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("pokemon.csv")

In [4]:
def attack_power(attack, Sp_atk):
    if attack + Sp_atk > 180:
        return "Strong"
    else:
        return "Weak"

df["Attacker"] = np.vectorize(attack_power)(df["Attack"], df["Sp. Atk"])  # Create a new column named "Attacker" and apply the attack_power function to each row of the dataframe.

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Strong
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Weak
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Weak

In [5]:
df["Attacker"] = df.apply(lambda row: attack_power(row["Attack"], row["Sp. Atk"]), axis=1)  # Create a new column named "Attacker" and apply the attack_power function to each row of the dataframe.
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Strong
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Weak
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Weak

In [6]:
df.sort_values("Total", ascending=False, inplace=True)  # Sort the dataframe by the "Total" column in descending order.
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
503,504,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True,Strong
662,663,Kyurem White,Dragon,Ice,700,125,120,90,170,100,95,5,True,Strong
661,662,Kyurem Black,Dragon,Ice,700,125,170,100,120,90,95,5,True,Strong
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,Strong
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,Strong

In [7]:
df.nlargest(5, "Total")  # Get the 5 largest values in the "Total" column.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
503,504,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True,Strong
662,663,Kyurem White,Dragon,Ice,700,125,120,90,170,100,95,5,True,Strong
661,662,Kyurem Black,Dragon,Ice,700,125,170,100,120,90,95,5,True,Strong
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,Strong
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,Strong

In [8]:
df.nsmallest(5, "Total")  # Get the 5 smallest values in the "Total" column.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
189,190,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False,Weak
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,Weak
402,403,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False,Weak
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,Weak
263,264,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False,Weak

In [9]:
df["Type 1"].value_counts()  # Get the count of each unique value in the "Type 1" column.

Water       105
Normal       94
Grass        67
Bug          65
Psychic      51
Fire         48
Electric     42
Rock         41
Ground       31
Dark         28
Poison       28
Dragon       26
Fighting     25
Ghost        24
Steel        23
Ice          23
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [10]:
df["HP"].between(50, 100)  # Get a boolean series indicating whether each value in the "HP" column is between 50 and 100.

503    False
662    False
661    False
148    False
492     True
       ...
263    False
12     False
402    False
296     True
189    False
Name: HP, Length: 742, dtype: bool

In [11]:
df[df["HP"].between(50, 100)] # Get the rows where the "HP" column is between 50 and 100.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,Strong
656,657,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True,Strong
657,658,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True,Strong
491,492,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True,Strong
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,173,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,Weak
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,Weak
266,267,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Weak
264,265,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Weak
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,Weak

In [12]:
df[df["HP"].between(50, 100)]["Type 1"].value_counts()  # Get the count of each unique value in the "Type 1" column for the rows where the "HP" column is between 50 and 100.

Water       77
Normal      65
Grass       52
Bug         46
Fire        35
Psychic     34
Electric    32
Rock        32
Ground      22
Dark        21
Steel       20
Poison      20
Ice         18
Fighting    17
Dragon      16
Fairy       13
Ghost       12
Flying       3
Name: Type 1, dtype: int64

In [13]:
df[df["HP"].between(50, 100, inclusive="both")]  # Get the rows where the "HP" column is between 50 and 100, including 50 and 100.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,Strong
656,657,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True,Strong
657,658,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True,Strong
491,492,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True,Strong
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,173,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,Weak
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,Weak
266,267,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Weak
264,265,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False,Weak
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,Weak

In [14]:
df.sample(6)  # Get a random sample of 6 rows from the dataframe.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
425,426,Shellos,Water,NaN,325,76,48,48,57,62,34,4,False,Weak
23,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False,Weak
388,389,Turtwig,Grass,NaN,318,55,68,64,45,55,31,4,False,Weak
534,535,Roggenrola,Rock,NaN,280,55,75,85,25,25,15,5,False,Weak
596,597,Deerling,Normal,Grass,335,60,60,50,40,50,75,5,False,Weak
697,698,Honedge,Steel,Ghost,325,45,80,100,35,37,28,6,False,Weak

In [15]:
df.sample(frac=0.1)  # Get a random sample of 10% of the rows from the dataframe.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
49,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False,Weak
607,608,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False,Weak
185,186,Hoppip,Grass,Flying,250,35,35,40,35,55,50,2,False,Weak
284,285,Breloom,Grass,Fighting,460,60,130,80,60,60,70,3,False,Strong
405,406,Luxio,Electric,NaN,363,60,85,49,60,49,60,4,False,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,533,Blitzle,Electric,NaN,295,45,60,32,50,32,76,5,False,Weak
358,359,Wynaut,Psychic,NaN,260,95,23,48,23,48,23,3,False,Weak
446,447,Gible,Dragon,Ground,300,58,70,45,40,45,42,4,False,Weak
144,145,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,Strong
238,239,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False,Weak

In [16]:
df.sample(frac=0.1, random_state=42)  # Get a random sample of 10% of the rows from the dataframe, using a seed of 42. Random state is used to ensure that the same random sample is returned each time.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
133,134,Jolteon,Electric,NaN,525,65,65,60,110,95,130,1,False,Weak
184,185,Politoed,Water,NaN,500,90,75,75,90,100,70,2,False,Weak
201,202,Girafarig,Normal,Psychic,455,70,80,65,90,65,85,2,False,Weak
537,538,Woobat,Psychic,Flying,313,55,45,43,55,43,72,5,False,Weak
160,161,Furret,Normal,NaN,415,85,76,64,45,55,90,2,False,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,345,Cradily,Rock,Grass,495,86,81,97,81,107,43,3,False,Weak
472,473,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False,Strong
162,163,Noctowl,Normal,Flying,442,100,50,50,76,96,70,2,False,Weak
241,242,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True,Strong
124,125,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False,Strong

In [19]:
df["Type 1"].nunique()  # Get the count of unique values in the "Type 1" column.

18

In [17]:
df["Type 1"].unique()  # Get the unique values in the "Type 1" column.

array(['Normal', 'Dragon', 'Psychic', 'Water', 'Ghost', 'Steel', 'Fire',
       'Fairy', 'Dark', 'Ground', 'Rock', 'Bug', 'Grass', 'Electric',
       'Flying', 'Ice', 'Poison', 'Fighting'], dtype=object)

Correlation: A measure of the extent to which two variables are related. The correlation coefficient is a value between -1 and 1 that indicates the strength of the relationship between two variables. A value of 1 indicates a perfect positive relationship, a value of -1 indicates a perfect negative relationship, and a value of 0 indicates no relationship. The closer the value is to 1 or -1, the stronger the relationship. The closer the value is to 0, the weaker the relationship. For example, the correlation between "HP" and "Attack" is 0.422386, which indicates a weak positive relationship.

In [20]:
df.corr() # Get the correlation between all numeric columns in the dataframe. For each pair of columns, the correlation coefficient is calculated.

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,1.000000,0.189225,0.118358,0.158384,0.129530,0.158176,0.125077,0.051161,0.983191,0.163344
Total,0.189225,1.000000,0.635305,0.702491,0.600130,0.734193,0.701520,0.563005,0.115225,0.513909
HP,0.118358,0.635305,1.000000,0.426067,0.228153,0.365526,0.366883,0.171112,0.080343,0.270002
Attack,0.158384,0.702491,0.426067,1.000000,0.402615,0.364597,0.193994,0.350891,0.109939,0.345479
Defense,0.129530,0.600130,0.228153,0.402615,1.000000,0.199667,0.503064,0.003386,0.075444,0.267399
Sp. Atk,0.158176,0.734193,0.365526,0.364597,0.199667,1.000000,0.484020,0.457547,0.101479,0.443850
Sp. Def,0.125077,0.701520,0.366883,0.193994,0.503064,0.484020,1.000000,0.235525,0.066235,0.359927
Speed,0.051161,0.563005,0.171112,0.350891,0.003386,0.457547,0.235525,1.000000,0.016900,0.330845
Generation,0.983191,0.115225,0.080343,0.109939,0.075444,0.101479,0.066235,0.016900,1.000000,0.093231
Legendary,0.163344,0.513909,0.270002,0.345479,0.267399,0.443850,0.359927,0.330845,0.093231,1.000000

In [21]:
df[["Attack", "Sp. Atk"]].corr()  # Get the correlation between the "Attack" and "Sp. Atk" columns.

           Attack   Sp. Atk
Attack   1.000000  0.364597
Sp. Atk  0.364597  1.000000

In [22]:
df[["Attack", "Sp. Atk"]].corr().iloc[0, 1]  # Get the correlation between the "Attack" and "Sp. Atk" columns. İloc is used to get the value at the specified row and column index.

0.3645969147447883

In [23]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
503,504,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True,Strong
662,663,Kyurem White,Dragon,Ice,700,125,120,90,170,100,95,5,True,Strong
661,662,Kyurem Black,Dragon,Ice,700,125,170,100,120,90,95,5,True,Strong
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,Strong
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,Strong

In [27]:
df["Type 1"] = df["Type 1"].replace(" ", "Flame")  # Replace all instances of "Fire" in the "Type 1" column with "Flame".
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attacker
503,504,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True,Strong
662,663,Kyurem White,Dragon,Ice,700,125,120,90,170,100,95,5,True,Strong
661,662,Kyurem Black,Dragon,Ice,700,125,170,100,120,90,95,5,True,Strong
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,Strong
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,264,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False,Weak
12,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,Weak
402,403,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False,Weak
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,Weak
189,190,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False,Weak

In [31]:
df_new= pd.DataFrame([["Flame", "Grass"], ["Flame", "Grass"], ["Water", "Water"]], columns=["Type 1", "Type 2"])  # Create a new dataframe.
df_new

  Type 1 Type 2
0  Flame  Grass
1  Flame  Grass
2  Water  Water

In [32]:
df_new.duplicated()  # Get a boolean series indicating whether each row is a duplicate of a previous row.

0    False
1     True
2    False
dtype: bool

In [35]:
df_new[df_new.duplicated()]  # Get the rows that are duplicates of previous rows.

  Type 1 Type 2
1  Flame  Grass

In [38]:
df_new.drop_duplicates(inplace=True)  # Drop the rows that are duplicates of previous rows.
df_new

  Type 1 Type 2
0  Flame  Grass
2  Water  Water